################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/calisthenics/bin/Debug
/.vs
/calisthenics/obj/Debug
/Calisthenics.Test/bin/Debug
/Calisthenics.Test/obj/Debug
/Test/obj/Debug/netcoreapp2.1
/packages
